<h1 class="text-center">
    If you are reading this text, then the author has completed
    the site and was able to upload it to some kind of free hosting.
    You can praise him, he will be very pleased.
</h1>

<div class="d-flex justify-content-center align-items-center">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <img src="../img/jpeg/monkey.jpg" />
    </a>
</div>